/* --------Universal styles----------- */

html {
  font-size: 16px;
}

body {
  text-align: center;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 40%;
  margin: 0 auto;
}

.heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.8rem;
  color: white;
  margin-top: 3rem;
  border-bottom: 6px solid darkslategray;
}

a {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  color: white;
}

h2 {
  margin-bottom: 1.5rem;
}

/* --------Header styles----------- */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro {
  padding: 2rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: hsla(360, 100%, 100%, 0.7);
}

.intro span {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;

}

form {
  margin-bottom: 3rem;
}

button {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: lightsalmon;
}

button:hover {
  cursor: pointer;
  background-color: darkslategray;
  color: white;
}

#input, button {
  border-radius: 10px;
  height: 4rem;
  font-size: 1.5rem;
  border: 1px solid gray;
  box-shadow: 2px 2px;
}

#input {
  padding: 0.5rem;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.js-form {
  border: 4px solid white;
  padding: 1.5rem;
  margin-top: 2rem;
}

#add {
  margin-left: 1rem;
}

#clear-all {
  display: none;
  margin: 0 auto;
  margin-top: 2rem;
}

.todo-item li {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  list-style: none;
}

ul {
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

li {
  border-bottom: 3px solid white;
}

.empty-state {
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  border: 2px solid white;
  margin-top: 1rem;
  padding: 1.5rem;
}

footer {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.7rem;
  margin-top: 4rem;
  color: white;
}

@media only screen and (max-width: 1219px) {
  ul {
    color: white;
  }
}

@media only screen and (max-width: 1090px) {
  .container {
    width: 50%;
  }

  .js-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #add {
    margin: 0.5rem 0 0 0;
  }
}

@media only screen and (max-width: 515px) {
  .intro, h2 {
    display: none;
  }
}